body {
  background-color: #ECF4D6;
}
.container {
  width: 1200px;
  display: flex;
  justify-content: start;
  padding: 20px;
  gap: 20px;
  background-color: #9AD0C2;
  border-radius: 10px;
  
}

.status {
  padding: 10px;
  width: 140px;
  background-color: #2D9596;
  border-radius: 10px;
}

.statusHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ECF4D6;
}

.task {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #9AD0C2;
  border-radius: 10px;
  background-color: #265073;
  color: aliceblue;
  text-wrap: wrap;
}
.newStatusContainer {
  display: flex;

}

.newStatus {
  padding: 5px;
  width: 300px;
  margin-bottom: 5px;
  background-color: #2D9596;
  color: #ECF4D6;
  border-radius: 10px;
  border: none;
}

.newTask {
  color: #265073;
  font-weight: bolder;
  background-color: #9AD0C2;
  border: 1px solid #ECF4D6;
}

.delete {
  text-align: end;
}

.deleteTask {
  color: #265073;
  font-weight: bolder;
  background-color: #d09a9a;
  border: none;
}

input {
  margin: 5px;
  padding: 5px;
  width: 70px;
  border: 1px solid transparent;
  color: white;
}
input:focus {
  border: 1px solid black;
  outline: 0;
}
.colorPicker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.modal {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 3px;
}